*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}  
html{
	scroll-behavior: smooth;
}
body{
	background: #181717;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 2em;
	box-sizing: border-box;

}
#header{
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.container{
	padding: 0px 0%;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	z-index: 100;
	background: rgba(0, 0, 0, 0.65);
	border-radius: 0;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border: 0;
}

.logo{
	margin-left: 55px;
	width: 80px;
}
nav ul li{
 	display: inline-block;
 	list-style: none;
 	margin: 10px 20px;
 }
nav ul li a{
 	color: #fff;
 	text-decoration: none;
 	font-size: 18px;
 	position: relative;
 }
nav ul li a::after{
 	content: '';
 	width: 0;
 	height: 3px;
 	background: red;
 	position: absolute;
 	left: 0;
 	bottom: -6px;
 	transition: 0.5s;
 }
nav ul li a:hover::after{
 	width: 100%;
 }
 .cheakbtn{
	font-size: 20px;
	color: #fff;
	float: right;
	line-height: 10px;
	margin: 20px;
	cursor: pointer;
	display: none;
 }
 #cheak{
	display: none;
 }
 @media (max-width: 858px){
	.cheakbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100%;
		background: #000;
		top: 70px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover{
		background: none;
		color: red;
	}
	#cheak:checked ~ ul{
		left: 0;
	}
 }
html {
	box-sizing: border-box;
	height: auto;
	scroll-behavior: smooth;
  } 
  small {
	opacity: .4;
  }
  h1 {
	color: #fff;
  }
  h2{
	color: white;
  }
  .container {
	margin-bottom: 0px;
	margin-top: 0px;
	min-width: 100%; 
	max-width: 500px;
  }
  p {
	margin: 0 0 20px; 
	line-height: 1.5;
	font-weight: 300;
  }
  .content {
	width: 100%;
	color: red;
	backface-visibility: hidden;
	overflow: hidden;
  }
  .content > div {
	display: none;
	padding: 20px 25px 5px;
  }
  input {
	display: none;
  }
  label {
	font-size: 20px;
	border-radius: 10px;
	text-decoration: none;
	display: inline-block; 
	padding: 15px 25px; 
	font-weight: 600; 
	text-align: center;
	border-bottom: 1px solid transparent;
	transition: all .3s ease-out 0.1s;
  }
  label:hover {
	color: #fff; 
	cursor: pointer;
  }
  input:checked + label {
	background: linear-gradient(to bottom, red, black);
	color: #fff;
	border-bottom: 1px solid;
  }
  
  #tab-1:checked ~ .content #content-1,
  #tab-2:checked ~ .content #content-2,
  #tab-3:checked ~ .content #content-3,
  #tab-4:checked ~ .content #content-4 {
	display: block;
	animation-name: inUp;
	animation-timing-function: ease-in-out;
	animation-duration: .6s;
  }
  
  @media screen and (max-width: 400px) { label {padding: 15px 10px;} }
  
  @keyframes inUp {
	0%{
	  opacity: 0;
	  transform: translateY(100px)
	}
	  90%{
	  transform: translateY(-10px)
	}
	100% {
	  opacity: 1;
	  transform: translateY(0)
	  }
  }
  #Services{
	  padding: 30px 0;
	  font-size: 30px;
	  width: 100%;
	  height: 100%;
	  background: #181717;
	  background-size: cover;
	  background-position: center;
   }
   .Services sub-title{
	  font: 9px;
   }
   .Services-list{
	  width: 100%;
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	  grid-gap: 40px;
	  margin-top: 50px;
   }
   .Services-list p{
	  color: white;
   }
   .Services-list div{
	  background: #262626;
	  padding: 50px;
	  font-size: 13px;
	  font-weight: 300;
	  border-radius: 10px;
	  transition: background 0.5s, transfrom 0.5s;
   }
   .Services-list div i{
	  font-size: 50px;
	  margin-bottom: 30px;
	  color: white;
   }
   .Services-list div h2{
	  color: #fff;
	  font-size: 30px;
	  font-weight: 500;
	  margin-bottom: 15px;
   }
   .Services-list div a{
	  text-decoration: none;
	  color: #fff;
	  font-size: 12px;
	  margin-top: 20px;
	  display: inline-block;
   }
   .Services-list div:hover{
	  background: linear-gradient(to bottom, red, black);
	  transform: translateY(-10px);
   }
   #Work{
	  padding: 0px 0;
	  font-size: 30px;
   }
   .work-list{
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	  grid-gap: 40px;
	  margin-top: 50px;
   }
   .work{
	  border-radius: 10px;
	  position: relative;
	  overflow: hidden;
   }
   .work img{
	  height: auto;
	  width: 100%;
	  border-radius: 10px;
	  display: block;
	  transition: transform 0.5s;
   }
   .layer{
	  width: 100%;
	  height: 0%;
	  background: linear-gradient(to bottom, red, black);
	  border-radius: 10px;
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  overflow: hidden;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	  padding: 0 40px;
	  text-align: center;
	  font-size: 14px;
	  transition: height 0.5s;
   }
   .layer p{
	  color: white;
   }
   .layer h2{
	  color: white;
   }
   .layer h3{
	  font-weight: 500;
	  margin-bottom: 20px;
   }
   .layer a{
	  margin-top: 20px;
	  color: #3bff00;
	  text-decoration: none;
	  font-size: 18px;
	  line-height: 60px;
	  background: #fff;
	  width: 60px;
	  height: 60px;
	  border-radius: 50%;
	  text-align: center;
   }
   .work-list div i{
	  color: #2e4328;
   }
  .work:hover img{
	  transform: scale(1.1);
  }
  .work:hover .layer{
	  height: 100%;
  }
  #Hobby{
	padding: 0px 0;
	font-size: 30px;
 }
 .hobby-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
 }
 .hobby{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
 }
 .hobby img{
	height: auto;
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
 }
 .hobs{
	width: 100%;
	height: 0%;
	background: linear-gradient(to bottom, red, black);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
 }
 .hobs p{
	color: white;
 }
 .hobs h2{
	color: white;
 }
 .hobs h3{
	font-weight: 500;
	margin-bottom: 20px;
 }
 .hobby-list div i{
	color: #2e4328;
 }
.hobby:hover img{
	transform: scale(1.1);
}
.hobby:hover .hobs{
	height: 100%;
}
footer{
  height: 100%;
  width: 100%;
background: black;
padding-top: 50px;
}
.container0{
width: 1140px;
margin: auto;
display: flex;
justify-content: center;
}
.footer-content{
width: 25%;
}
h3{
font-size: 28px;
margin-bottom: 15px;
text-align: center;
}
.footer-content ul{
text-align: center;
}
.quick{
padding: 0;
  font-size: 18px;
}
.quick li{
width: auto;
text-align: center;
list-style-type: none;
padding: 7px;
position: relative;
}
.quick li::before{
content: '';
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 100%;
width: 0;
height: 2px;
background: red ;
transition-duration: .5s;
}
.quick li:hover::before{
width: 70px;
}
.social-icons{
text-align: center;
padding: 0;
}
.social-icons li{
display: inline-block;
text-align: center;
padding: 5px;
}
.social-icons i{
color: white;
font-size: 40px;
}
a{
text-decoration: none;
}
a:hover{
color: red;
}
.social-icons i:hover{
color: red;
}
.bottom-bar{
background: red;
text-align: center;
padding: 10px 0;
margin-top: 50px;
}
.bottom-bar p{
color: white;
margin: 0;
font-size: 16px;
padding: 7px;
}