body {
      background: linear-gradient(to bottom, #000000, #006400);
      background-attachment: fixed;
      background-blur: 10px;
      background-size: cover;
      background-position: center;
      font-family: Arial, sans-serif;
      background-repeat: no-repeat;
      margin-top: 70px;
}
.calculator {
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    height: 350px;
    border: 0 solid white;
    box-shadow: 4px 4px 12px white;,
             -4px -4px 12px #fff;
    border-radius: 15px;
    margin: 0 auto;
    background-color: black;
}

.screen {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #f1f1f1;
    border: 1px solid #000;
    border-radius: 5px;
    font color: #000;
}

.screen input {
    width: 100%;
    border: none;
    font-size: 20px;
    text-align: right;
    color: #000;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.button-row button {
    flex: 1;
    margin: 0 2px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-row button:hover {
    background-color: #b5b7c7;
}
.button-cont {
  position: relative;
  padding: 3px 0px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background-color: #FFFF00;
  border: none;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 10px rgba(0,255,0,0.3);
}

.button-cont:hover {
  transform: scale(1.05);
  color: #fff;
  box-shadow: 0 10px 20px rgba(0,255,0,0.3);
}

.button-cont:active {
  transform: scale(0.9);
}

.button-cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 100, 0, 1), rgba(0, 255, 0, 1));
  transition: left 0.4s ease-in-out;
  z-index: -1;
  border-radius: 50px;
}

.button-cont:hover::before {
  left: 0;
}
